<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <%= image_tag  "estracta.png" %>
        </div>
        <div class="card">
            <div class="card-body login-card-body">
                <div class="center">
                    <p class="login-box-msg center"><h2>Entre ou cadastre</h2></p>
                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                        <%= render "devise/shared/error_messages", resource: resource %>
                        <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
              <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>
<div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>


  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>


<%= render "devise/shared/links" %>
                    <div class="actions">
                        <%= f.submit "Log in" %>
                    </div>
                    <% end %>
                    <%= render "devise/shared/links" %>
                    </p>
                    </>
                </div>
            </div>

        </div>

</body>





  

  

  
