<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <%= image_tag  "estracta.png" %>
        </div>
        <div class="card">
            <div class="card-body login-card-body">
                <div class="center">
                    <p class="login-box-msg center"><h2>Entre ou cadastre</h2></p>
                    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                    <div class="field">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-inputs">
                                    <%= f.label :email %><br />
                                    <%= f.email_field :email, :autofocus => true, class:"input-block-level", placeholder:"Email"%>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="field">
                        <%= f.label :password %><br />
                        <%= f.password_field :password, autocomplete: "current-password" %>
                    </div>
                    <% if devise_mapping.rememberable? %>
                    <div class="field">
                        <%= f.check_box :remember_me %>
                        <%= f.label :remember_me %>
                    </div>
                    <% end %>


                    <div class="actions">
                        <%= f.submit "Log in" %>
                    </div>
                    <% end %>
                    <%= render "devise/shared/links" %>
                    </p>
                    </>
                </div>
            </div>

        </div>

</body>